.paginate__container {
    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        .page__item {
            list-style: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #3f3f3f;
            @media screen and (max-width: 526px) {
                font-size: 14px;
                line-height: 18px;
            }
            .page__link__number {
                background: #ffffff;
                border: 1px solid #3f3f3f;
                border-radius: 3px;
                padding: 0.3rem 0.6rem;
            }
            .page__next {
                display: inline-flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}
